{% load static %} {% load staticfiles %} {% load i18n %}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

            {#            <li class= "treeview">#}
            {#                <a href="#">#}
            {#                    <i class="fa fa-files-o"></i><span>{% trans "Prescrições" %}</span>#}
            {#                    <span class ="pull-right-container">#}
            {#            <i class = "fa fa-angle-left pull-right"></i>#}
            {#          </span>#}
            {#                </a>#}
            {#                <ul class = "treeview-menu">#}
            {#                    <li><a href="#">{% trans "Listar Prescrições"%}</a></li>#}
            {#                    <li><a href="#">{% trans "Criar Modelo de Prescrição"%}</a></li>#}
            {#                    <li><a href="#">{% trans "Listar modelos de impressão"%}</a></li>#}
            {#                </ul>#}
            {#            </li>#}

            <li class="treeview">
                <a href="#"><i class="fa fa-file"></i> <span>{% trans "Trabalhos"%}</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'create_work_ent' %}">{% trans "Criar um Trabalho"%}</a></li>
                    <li><a href="{% url 'create_expr_ent' %}">{% trans "Criar uma Expressão"%}</a></li>
                    <li><a href="{% url 'create_manif_ent' %}">{% trans "Criar uma Manifestação"%}</a></li>
                    <li><a href="{% url 'create_item_ent' %}">{% trans "Criar um Item"%}</a></li>
                    <li><a href="#">{% trans "Listar Trabalhos"%}</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="pages/mailbox/mailbox.html">
                    <i class="fa fa-envelope"></i> <span>{% trans "Conversas" %} </span>
                    <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">{% trans "Mensagens"%}</a></li>
                    <li><a href="#">{% trans "Nova Mensagem"%}</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-cog"></i> <span>Configurações</span></a></li>
        </ul>

        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
