{% load static %} {% load staticfiles %} {% load i18n %}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

            <li> <a href="{% url 'list_all_ent' %}">
                <i class="fa fa-files-o"></i><span>{% trans "Listar Tudo" %}</span>
            </a></li>

            <li class="treeview">
                <a href="#"><i class="fa fa-file"></i> <span>{% trans "Obra"%}</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'create_work_ent' %}">{% trans "Criar uma Obra"%}</a></li>
                    <li><a href="{% url 'list_work_ent' %}">{% trans "Listar Obras"%}</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#"><i class="fa fa-file"></i> <span>{% trans "Expressão"%}</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'create_expr_ent' %}">{% trans "Criar uma Expressão"%}</a></li>
                    <li><a href="{% url 'list_expr_ent' %}">{% trans "Listar Expressões"%}</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#"><i class="fa fa-file"></i> <span>{% trans "Manifestação"%}</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'create_manif_ent' %}">{% trans "Criar uma Manifestação"%}</a></li>
                    <li><a href="{% url 'list_manif_ent' %}">{% trans "Listar Manifestações"%}</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#"><i class="fa fa-file"></i> <span>{% trans "Item"%}</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'create_item_ent' %}">{% trans "Criar um Item"%}</a></li>
                    <li><a href={% url 'list_item_ent' %}>{% trans "Listar Itens"%}</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="pages/mailbox/mailbox.html">
                    <i class="fa fa-envelope"></i> <span>{% trans "Conversas" %} </span>
                    <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">{% trans "Mensagens"%}</a></li>
                    <li><a href="#">{% trans "Nova Mensagem"%}</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-cog"></i> <span>Configurações</span></a></li>
        </ul>

        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
