{% extends "dashboardUser/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}

<form action='' method="POST">
  <div class="form-group">
    {% csrf_token %}

            <div class="col-sm-12">
      <font size="8">
        <span class="label label-primary">{% trans "Obra" %}</span>
      </font>
</div>
      <div class="col-sm-12">
      <font size="6">
        <span class="label label-primary">{% trans "Obrigatório" %}</span>
      </font>
</div>

<div class="col-sm-12">
      <font size="4">
        <span class="label label-primary">{% trans "Identificador" %}</span>
      </font>
                    {{ form.identifier  }}
    </div>
<div class="col-sm-12">
      <font size="4">
        <span class="label label-primary">{% trans "Titulo da Obra" %}</span>
      </font>
                    {{ form.titleOfTheWork  }}
    </div>

      <div class="col-sm-12">
      <font size="4">
        <span class="label label-primary">{% trans "Local de origem da Obra" %}</span>
      </font>
                    {{ form.placeOfOriginOfTheWork }}
    </div>
<div class="col-sm-12">
      <font size="4">
        <span class="label label-primary">{% trans "Data da Obra" %}</span>
      </font>
                    {{ form.dateOfTheWork }}
    </div>

      <div class="col-sm-12">
      <font size="6">
        <span class="label label-primary">{% trans "Optativo" %}</span>
      </font>
    </div>

      <div class="col-sm-12">
      <font size="4">
        <span class="label label-primary">{% trans "Outras caracteristicas" %}</span>
      </font>
                    {{ form.otherDistinguishingCharacteristic }}
    </div>
<div class="col-sm-12">
      <font size="4">
        <span class="label label-primary">{% trans "Forma da Obra" %}</span>
      </font>
                    {{ form.formOfWork }}
    </div>

      {#<div class="col-sm-12">#}
{#      <font size="4">#}
{#        <span class="label label-primary">{% trans "Titulo da expressão" %}</span>#}
{#      </font>#}
{#                    {{ form.intendedTermination }}#}
{#    </div>#}
<div class="col-sm-12">
      <font size="4">
        <span class="label label-primary">{% trans "Audiencia do Obra" %}</span>
      </font>
                    {{ form.intendedAudience }}
    </div>
<div class="col-sm-12">
      <font size="4">
        <span class="label label-primary">{% trans "Contexto para o Obra" %}</span>
      </font>
                    {{ form.contextForTheWork }}
    </div>
{#<div class="col-sm-12">#}
{#      <font size="4">#}
{#        <span class="label label-primary">{% trans "Titulo da expressão" %}</span>#}
{#      </font>#}
{#                    {{ form.mediumOfPerformance }}#}
{#    </div>#}
{#<div class="col-sm-12">#}
{#      <font size="4">#}
{#        <span class="label label-primary">{% trans "Titulo da expressão" %}</span>#}
{#      </font>#}
{#                    {{ form.numericDesignation }}#}
{#    </div>#}
{#<div class="col-sm-12">#}
{#      <font size="4">#}
{#        <span class="label label-primary">{% trans "Titulo da expressão" %}</span>#}
{#      </font>#}
{#                    {{ form.key }}#}
{#    </div>#}
{#<div class="col-sm-12">#}
{#      <font size="4">#}
{#        <span class="label label-primary">{% trans "Titulo da expressão" %}</span>#}
{#      </font>#}
{#                    {{ form.coordinates }}#}
{#    </div>#}
{#<div class="col-sm-12">#}
{#      <font size="4">#}
{#        <span class="label label-primary">{% trans "Titulo da expressão" %}</span>#}
{#      </font>#}
{#                    {{ form.equinox }}#}
{#    </div>#}
{#<div class="col-sm-12">#}
{#      <font size="4">#}
{#        <span class="label label-primary">{% trans "Titulo da expressão" %}</span>#}
{#      </font>#}
{#                    {{ form.subjectOfTheWork }}#}
{#    </div>#}
{#<div class="col-sm-12">#}
{#      <font size="4">#}
{#        <span class="label label-primary">{% trans "Titulo da expressão" %}</span>#}
{#      </font>#}
{#                    {{ form.history }}#}
{#    </div>#}

    <br><br>
    <div class="col-sm-2 col-sm-push-5">
      <br>
      <button type="submit" class="btn btn-success">{% trans "Cadastrar" %}</button>
    </div>
  </div>
</form>

{%endblock %}


