{% extends "dashboardUser/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}
    <form id="searchform" action="{% url 'search_work_ent' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
    </form>

    <div class="panel-body">
        <!-- tab component -->
        <table class="table table-striped table-bordered table-hover">
            {% if list_work_ent %}
                <thead>
                <th>{% trans "Titulo" %}</th>
                <th>{% trans "Data" %}</th>
                <th>{% trans "Audiência" %}</th>
                <th>{% trans "Local de Origem" %}</th>
                </thead>
            {% endif %}

            <tbody>

            {% for work in list_work_ent %}
                <tr class='clickable-row'>
                    <td>{{ work.titleOfTheWork }}</td>
                    <td>{{ work.dateOfTheWork }}</td>
                    <td>{{ work.intendedAudience }}</td>
                    <td>{{ work.placeOfOriginOfTheWork }}</td>
                </tr>

                {% empty %}

                {% trans "Não existem Obras cadastrados." %}

            {% endfor %}
            </tbody>
        </table>

        {% comment "Source" %}
            <p>Retirado de: https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html</p>
        {% endcomment %}

        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

{%endblock %}
